* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body {
    line-height: 1.6;
    background-color: #7e7e7e;  
}


.navbar{
    background-color: #333;
    padding: 1rem;
}


.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.navbar a:hover{
    color: #7e7e7e;
}


main{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


section{
    margin: 2rem 0;
    padding: 2rem;
    background-color: #a1a1a1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.conteudo{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: yellow;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.imagem{
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.imagem img{
    width: 100%;
    height: auto;
    display: block;
}
